<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="stylesheet" href="../styles/mainPageStyle.css">
    <meta charset="UTF-8">
    <title>Document</title>
</head>
<body>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="../scripts/mainPage/mainPageController.js"></script>
    <script src="../scripts/mainPage/mainPageDesktopView.js"></script>
    <script src="../scripts/mainPage/mainPageModel.js"></script>
    <script src="../scripts/jsonString.js"></script>
</body>
</html>